<div class='navbar-accent-top'></div>
<div class='navbar-main'>
	<span style='float:left;margin-left:50px;'>
		<ul style='list-style:none;margin:0;padding:0;'>
			<li>Tutorials</li>
			<li>About</li>
			<li>FAQ</li>
		</ul>
	</span>
	<span style="font:bold 2em/1 'Myriad Pro', 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;">
		JustTellMeHow.To
	</span>
	<span style='float:right;margin-right:50px;'>
		<input style='' type='text'>
		<input style='' type='submit'>
	</span>
</div>
<div class='navbar-accent-bottom'></div>