/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image:url('/subtle-notebook.png');
	margin:0px;
	width:100%;
}

.navbar-accent-top {
	width:100%;
	background:#6A6A6A;
	height:5px;
}

.navbar-main {
	padding-top:15px;
	width:100%;
	text-align:center;
	background:black;
	color:white;
	height:50px;
	background-image:url('/subtle-grey-wash-wall.png');
}

.navbar-accent-bottom {
	width:100%;
	background:#CCCCCC;
	height:5px;
}

.footer {
	margin:30px;
	text-align:center;
	font-size:80%;
	color:gray;
}