// Place all the styles related to the tutorial_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Internal tutorial stuff

.jthmt-text {
	
}

.jthmt-code {
	
}

.jhtmt-warning {
	
}

.jtmht-tip {
	
}

.jtmht-externals {
	
}

// Tutorial page (around internal tutorial) stuff

.tut-page-content-wrapper {
	position: relative;
	width: 500px;
	padding: 50px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom:30px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.tut-page-content-wrapper:before, .tut-page-content-wrapper:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.tut-page-content-wrapper:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.tut-page-header {
	/*font-family:dejavu,sans;*/
	font: bold 1.625em/1 'Myriad Pro', 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif; margin: 0 0 0 0; color:#333;
	color:gray;
	text-align:center;
	vertical-align:center;
	margin-bottom:40px;
}

.tut-page-tutorial-wrapper {
	
}
